@import "reset";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap');
@import "burger";
@import "modal";  

* {
    max-width: 100vw;
}

body {
    position        : relative;
    font-family     : 'PT Sans Caption', sans-serif;
    background-color: #fff;
}

.content {
    width    : 100%;
    max-width: 1067px;
}

.header-wraper {
    height: 40px;
}

header {
    width     : 100%;
    position  : fixed;
    background: #fff;
    z-index   : 1;
    padding   : 1.67vw 0 0.55vw 0;

    img {
        margin-left: 12px;
    }
}

main {
    width: 100%;
}

.search-section {
    margin-bottom        : 9.5vw;
    padding-top          : 46px; 
    padding-bottom       : 73px;
    width                : 100%;
    text-align           : center;
    background           : url(../images/background-image.png);
    background-position-x: 42%;
    background-size      : cover;

    h1 {
        margin-bottom: 24px;
        font-size    : 21px;
        color        : #fff;
    }

    form {
        position: relative;
        width   : 100%;

        input {
            font-family : 'PT Sans Caption', Fsans-serif;
            width       : 87%;
            min-height  : 45px;
            padding-left: 13px;
            border      : 0;
        }

        input::placeholder {
            font-family: 'PT Sans Caption', sans-serif;
            color      : #9d9d9d;
            font-size  : 15px;
        }

        button {
            position        : absolute;
            right           : 6.6%;
            padding         : 0;
            top             : 25.3%;
            background-color: rgba(0, 0, 0, 0);
            border          : 0;
            cursor          : pointer;

        }

        button:focus {
            outline-width: 0;
        }

        button span {
            display: none;
        }
    }

    .search-hint {
        display: none;
    }
}    

.payment-options {
    margin-bottom  : 5.72vw;
    text-align     : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;

    .how-pay {
        margin-bottom: 8.05vw;
        font-size    : 21px;
        font-weight  : bold;
    }

    .can-pay {
        display: none;
    }

    .fast-links {
        display: none;
    }
}

.our-partners {

    text-align     : center;
    margin-bottom  : 36px;
    display        : flex;
    flex-direction : row;
    justify-content: center; 

    h1 {
        margin-bottom: 8.05vw;
        font-size    : 21px;
        font-weight  : bold;
    }

    .partners-logos {
        padding-left   : 5.55vw;
        display        : flex;
        flex-direction : row;
        -ms-flex-wrap  : wrap;
        flex-wrap      : wrap;
        justify-content: space-around;


        div {
            max-width : 50%;
            min-height: 139px;
            box-sizing: border-box;
        }

        div:nth-of-type(1) {
            padding-top: 2px;
        }

        div:nth-of-type(2) {
            padding-left: 20px;
        }

        div:nth-of-type(3) {
            padding-left: 5px;
            padding-top : 39px;
        }

        div:nth-of-type(4) {
            padding-top: 48px;
        }

        div:nth-of-type(5) {
            padding-top: 54px;
        }
 
        div:nth-of-type(6) {
            padding-top: 59px;
        }

        p {
            font-size     : 12px;
            font-weight   : bold;
            text-align    : center;
            margin-top    : 19px;
            letter-spacing: normal;
            z-index       : 0;
        }

        div:nth-of-type(3) p {
            margin-top: 21px;
        }

        div:nth-of-type(4) p {
            margin-top  : 32px;
            padding-left: 11px;
        }

        div:nth-of-type(5) p {
            padding-left: 4px;
        }

        div:nth-of-type(6) p {
            margin-top: 24px;
        }
    }
}

.share-button {
    display : block !important;
    position: absolute;
    bottom  : 17px;
    right   : 15px;
    width   : auto;
    height  : auto;

    button {
        padding         : 0;
        margin          : 0;
        border          : 0;
        background-color: transparent;
        cursor          : pointer;

        &:focus {
            outline: none;
        }
    }
}

.footer {
    padding-top     : 18px;
    padding-left    : 9px;
    padding-right   : 10px;
    padding-bottom  : 14px;
    background-color: #e6ecf1;
    text-align      : center;
    box-sizing      : border-box;

    p {
        font-weight   : bold;
        margin-top    : 0;
        font-size     : 13px;
        letter-spacing: 0.2px;
        padding-left  : 6px;
    }

    .extra-hrefs {
        margin-top   : 2px;
        margin-bottom: 14px;
        text-align   : center;
    }

    .footer-links {
        display: none;
    }

    img[alt="firm logotype"] {
        display: none;
    }
}

@import "transitional-styles";

@import "laptop-styles";







 